.fileViewer {
  height: 100%;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.fileViewer canvas {
  display: block;
  margin: 10px auto;
}

.filePdfViewer {
  width: 100%;
  box-sizing: border-box;
}

.pageDivider {
  border-bottom: 1px solid #ccc; /* Adjust as needed */
}

.fileViewerNoFile {
  margin-top: 50px;
  text-align: center;
  text-shadow: 1px 1px transparent, -1px -1px black;
}

.fileViewerNoFile h1 {
  background-color: #bbbbbb;
  font-weight: bold;
  font-size: 30px;
  color: transparent;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}
