/* AIChatbot toolbar */

.aiChatbotToolbar {
  display: flex;
  align-items: center;
}

.aiChatbotTranslateChunks {
  margin-left: auto;
  justify-content: flex-end;
}

.aiChatbotLangContainer {
  width: 40px;
}

.aiChatbotLangDropdown {
  margin-right: 12px;
}

.aiChatbotLangDropdown button:focus,
.aiChatbotLangDropdown button:active,
.aiChatbotLangDropdown .dropdown-toggle:focus,
.aiChatbotLangDropdown .dropdown-toggle:active {
  box-shadow: none !important;
  outline: 0 !important;
  border: none !important;
}

/* QA rendered messages */

.aiChatbot {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.aiChatbot a {
  color: #44abb6;
  font-weight: bold;
}

.aiChatbotMessagesList {
  flex-grow: 1;
  overflow-y: auto;
  margin-top: 10px;
  max-height: calc(100% - 50px);
  padding: 0 5px
}

.aiChatbotMessage {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 4px;
  width: 100%;
}

.aiChatbotMessageText {
  padding: 0;
}

.aiMessageFootnote {
  margin: 14px 0 6px 0;
}

.userMessage {
  align-self: flex-end;
}

.aiMessage {
  border-radius: 10px;
}

.aiChatbotMessageToolbar {
  font-size: 12px;
  margin-top: 2px;
  text-align: right;
}

.aiChatbotMessageToolbar i {
  cursor: pointer;
  margin-left: 8px;
}

/* QA section for inputting the message for the AI */

.aiChatbotInputMessageContainer {
}

.aiChatbotInputMessage {
  position: relative;
  width: 100%;
}

.aiChatbotInputMessage input {
  border-radius: 0;
}

.aiChatbotInputSendButton {
  border-radius: 0 !important;
}
