/* Scratchpad toolbar */

.scratchpadToolbar {
  display: flow-root;
  align-items: center;
  text-align: center;
}

/* Scratchpad editor */

blockquote {
  border-left: 2px solid #ccc;
  margin: 1.2em 10px;
  padding: 0.5em 10px;
  quotes: "\201C" "\201D" "\2018" "\2019";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

.scratchpad {
  display: flex;
  flex-direction: column;
  height: calc(100% - 155px);
  padding: 8px 0 8px 0;
  width: 100%;
  box-sizing: border-box;
}

.scratchpad a {
  color: #44abb6;
  font-weight: bold;
}

.scratchpadTextEditor {
  height: calc(50vh - 128px);
  overflow-y: auto;
  padding: 0 5px 0 0;
}

.scratchpadTextEditor div:focus-visible {
  border-radius: 0;
  outline: none !important;
}

.scratchpadTextEditor p {
  margin: 0 0 10px 0;
  text-align: justify;
}

.scratchpadButtonsContainer {

}

.scratchpadButtons {
  height: 50px;
  position: relative;
  width: 100%;
  margin-top: 10px;
  justify-content: center;
}

.scratchpadButtons button {
  font-variant-caps: all-small-caps;
}
