.mainHeaderThemeSwitcher {
  margin-left: auto;
  justify-content: flex-end;
}

.mainHeaderDarkThemeSwitcher,
.mainHeaderLightThemeSwitcher {
  border: none;
  background-color: transparent;
  padding: 0;
}

.mainHeaderThemeSwitcherIcon {
  font-size: 20px;
  color: #000; /* Customize the icon color */
  cursor: pointer;
  padding: 0 10px;
}

.mainHeaderThemeSwitcherIconDark {
  font-size: 24px;
  color: white;
  cursor: pointer;
  padding: 0 10px;
}
