/* BrowseDocumentsSidebar */

.leftSidebarSearchBar {
  display: flex;
  align-items: center;
}

.leftSidebarSearchBarInput {
  position: absolute;
  right: 1px;
  top: 50%;
  transform: translateY(-50%);
  background: white;
  border: none;
  z-index: 5;
  border-radius: 0 !important;
}

.leftSidebar {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 122px);
}

.leftSidebarDocItems {
  border: none;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  border-radius: unset;
  font-size: 0.95em;
}

.leftSidebarDocItems.card > .list-group:first-child {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;;
}

.leftSidebarDocItems.card > .list-group:last-child {
  border-bottom-right-radius: 0 !important;;
  border-bottom-left-radius: 0 !important;;
}

.leftSidebarDropdown {
  margin-top: 10px
}

.leftSidebarDropdownCard {
  cursor: pointer;
}

.leftSidebarDropdown, .leftSidebarDropdownCard {
  border-radius: 0 !important;
  overflow-y: auto;
  padding: 0 5px 0 0;
}

.leftSidebarCardBody {
  padding: 0 !important;
  border: 0 !important;
}

.leftSidebarDropdownCardHeader {
  border-bottom: none;
}
