.mainContainer {
  overflow: hidden;
}

.containerFluid {
  height: calc(
          100vh - 117px
  );
  padding: 0 !important;
  overflow: hidden;
}

.leftSidebarColumn {
  overflow: auto;
  height: 100%; /* Full height of the parent (.containerFluid) */
  position: relative; /* This is added to create a new containing block for absolute positioning */
  padding-left: 20px;
}

.documentViewerColumn {
  height: 100%; /* Full height of the parent (.containerFluid) */
  background-color: #f5f5f5;
  position: relative; /* This is added to create a new containing block for absolute positioning */
  padding-left: 0;
}

:global(.btn) {
  border-radius: 0 !important;
}
