@import '~bootstrap/dist/css/bootstrap.min.css';
@import '@react-pdf-viewer/core/lib/styles/index.css';
@import '@react-pdf-viewer/default-layout/lib/styles/index.css';
@import '@react-pdf-viewer/toolbar/lib/styles/index.css';
@import '@react-pdf-viewer/highlight/lib/styles/index.css';

html,
body,
#root {
  min-width: 1320px;
  width: 100vw;
  height: 100%;
  overflow-y: hidden;
}

::-moz-selection { /* Code for Firefox */
  color: black;
  background: rgba(253, 196, 70, 0.5);
}

::selection {
  color: black;
  background: rgba(253, 196, 70, 0.5);
}

::-webkit-scrollbar {
  width: 0.4em;
  height: 0.4em;
}

::-webkit-scrollbar-thumb {
  background: #44abb6;
}

a {
  color: #44abb6;
  text-decoration: none !important;
}

/* react-pdf-viewer */

.rpv-core__annotation--link {
  margin-top: 8px;
}

.rpv-search__highlights {
  top: 10px;
}

.rpv-default-layout__toolbar {
  height: 2.6rem;
}

.rpv-default-layout__sidebar, .rpv-default-layout__body {
  padding-top: 2.6rem;
}

.rpv-core__page-layer::after {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0.6rem;
}

span.rpv-core__text-layer-text::selection {
  background: #fdc446;
}

.rpv-core__inner-page {
  background-color: transparent !important;
}

.rpv-core__viewer--light {
  --rpv-default-layout__body-background-color: #dadada;
  --rpv-default-layout__container-border-color: 1px solid rgb(229, 229, 229);
  --rpv-default-layout__toolbar-background-color: #f8f8f8;
  --rpv-default-layout__sidebar-headers-background-color: #f8f8f8;
}

.rpv-core__viewer--dark {
  --rpv-default-layout__body-background-color: #212529;
  --rpv-default-layout__container-border-color: #343a40;
  --rpv-default-layout__toolbar-background-color: #343a40;
  --rpv-default-layout__toolbar-border-bottom-color: #000;
  --rpv-default-layout__sidebar-border-color: #000;
  --rpv-default-layout__sidebar--opened-background-color: #fff;
  --rpv-default-layout__sidebar-headers-background-color: #212529;
  --rpv-default-layout__sidebar-content--opened-background-color: #1a1a1a;
  --rpv-default-layout__sidebar-content--opened-border-color: #292929;
  --rpv-default-layout__sidebar-content--opened-color: #fff;
  --rpv-core__popover-body-background-color: #343a40;
}

.rpv-bookmark__item:hover {
  background-color: #44abb6;
}

.rpv-core__menu-item:hover {
  background-color: #44abb6;
  outline: 0;
}

.rpv-core__minimal-button--selected {
  background-color: #44abb6;
  color: black;
}

.rpv-core__minimal-button--selected:hover {
  color: white;
}

.rpv-core__text-layer {
  top: 10px;
}

.rpv-highlight__selected-text {
  background: rgba(253, 196, 70, 0.5);
}

/* bootstrap */

.container-fluid {
  height: calc(100% - 150px);
}

.row {
  height: 100%;
}

.form-control {
  border-radius: 0 !important;
}

.modal-content {
  border-radius: 0 !important;
}

.list-group-item:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-check-input:checked {
  background-color: #efbb46;
  border-color: #fdad4b;
  outline: none;
}

.btn {
  border-radius: 0 !important;
}

.btn-primary {
  background-color: #44abb6 !important;
  color: #000000 !important;
  border: 0 !important;
}

.btn-secondary {
  border: 0 !important;
}

.btn-outline-primary {
  color: #fdc446;
  border-color: transparent;
  padding-right: 4px;
  font-variant-caps: all-small-caps;
}

.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
  color: #fdc446;
  background-color: transparent;
  border-color: transparent;
}

.btn-check:checked + .btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check) + .btn:active {
  border-color: transparent !important;
}

.btn-check:checked + .btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check) + .btn:active {
  background-color: transparent !important;
  border-color: transparent !important;
}

.nav-tabs .nav-link.active {
  border: 0 solid transparent;
  border-radius: 0;
  padding: 8px 16px;
  font-variant-caps: all-small-caps;
}

.nav-tabs .nav-link {
  border: 0 solid transparent;
  border-radius: 0;
  padding: 8px 16px;
  font-variant-caps: all-small-caps;
}

.nav-link {
  color: #44abb6
}

.dropdown-toggle::after {
  vertical-align: middle;
}

.dropdown-menu {
  border-radius: 0 !important;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 680px;
  }
}
